<%= error_messages_for 'accolade' %>

<!--[form:accolade]-->
<p><label for="accolade_name">Name</label><br/>
<%= text_field 'accolade', 'name'  %></p>

<p><label for="accolade_received">Received</label><br/>
<%= date_select 'accolade', 'received'  %></p>
<!--[eoform:accolade]-->

