<% for column in Accolade.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @accolade.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @accolade %> |
<%= link_to 'Back', :action => 'list' %>
