<h1>New order</h1>
<%= render 'list_contacters' %>

<div class="sender">
  <p>发件人</p> </ br>
<%= render 'show_sender'%>
</div>
<div class="receiver">
  <p>收件人</p> </ br>
<%= render 'show_receiver'%>
</div>

<%= link_to 'Back', orders_path %>
