<title>订单生成</title>
<h1>订单生成</h1>

<%= render 'list_contacters' %>

<%= render :partial =>  "show_contacter" , :locals  => {:contact => @sender} %>
<%= render :partial =>  "show_contacter" , :locals  => {:contact => @receiver} %>





