<%= error_messages_for 'zip' %>

<!--[form:zip]-->
<p><label for="zip_zip">Zip</label><br/>
<%= text_field 'zip', 'zip'  %></p>

<p><label for="zip_city">City</label><br/>
<%= text_field 'zip', 'city'  %></p>

<p><label for="zip_state">State</label><br/>
<%= text_field 'zip', 'state'  %></p>

<!--[eoform:zip]-->

