<h1>Zip Lookup Results</h1>

<table>
  <tr>
    <td>Zip</td>
    <td><%= @zip.zip %></td>
  </tr>
  <tr>
    <td>City</td>
    <td><%= @zip.city || "Not Found" %></td>
  </tr>  
  <tr>
    <td>State</td>
    <td><%= @zip.state || "Not Found" %></td>
  </tr>  
</table>