<% for column in Zip.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @zip.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @zip %> |
<%= link_to 'Back', :action => 'list' %>
