<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_username">Username</label><br/>
<%= text_field 'user', 'username'  %></p>

<p><label for="user_favorite_language">Favorite language</label><br/>
<%= text_field 'user', 'favorite_language'  %></p>

<!--[eoform:user]-->

