<% for column in Language.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @language.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @language %> |
<%= link_to 'Back', :action => 'list' %>
